
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", system-ui, Arial, sans-serif;
  
}

body {
  overflow-x: hidden;
}



/* 
  HEADER
*/
.site-header {
  background: #152237;
  color: white;
}

.header-container {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.header-logo img {
  display: block;
}


/* 
  NAVIGATION
*/
.header-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}


/* 
  BARRE DE RECHERCHE
*/
.search-bar {
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 400px;
  padding: 0.6rem;
  font-size: 1rem;
}

.search-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}


/* 
  BOUTONS CONNEXION / INSCRIPTION
*/
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerBtnCon {
  border-radius: 10px;
  color: black;
  background: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.headerBtnIns {
  border-radius: 10px;
  color: black;
  background: linear-gradient(to right, #44DD8A, #15D7E2);
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}


/* 
  BURGER MENU
*/
.burger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.burger span {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px 0;
  background: white;
  border-radius: 3px;
}


/* 
  RESPONSIVE
*/
@media (max-width: 900px) {

   /* .header-container {
    display: flex;
    padding: 10px;
   } */

  .header-nav {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .header-actions {
    display: none;
  }

  .burger {
    display: block;
  }

}



/* 
   SECTION-IMG
*/
.section-img {
  position: relative;
  height: 400px;
  background-image: 
  linear-gradient(to right, #44dd8991, #15d8e289),
  url("./image/bg-header.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/*
SECTION-TEXT
*/
.section-text {
  gap: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.section-text h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #152237;
}

.section-text p {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;

}

.section-text button {
  border-radius: 10px;
  color: black;
  background: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

/* 
   RESPONSIVE
*/

@media (max-width: 480px) {
  .section-img {
    height: 300px;
  }
  .section-text h1 {
    font-size: 1.2rem;
  }
  .section-text p {
    font-size: 0.8rem;
  }
}

/* 
  SECTION-BOX-PROBUIT
 */
 
#courses-section {
  background: white;
  padding-bottom: 60px;
}

.section-title {
  padding: 70px;
  color: #152237;
  font-size: 2.6rem;
  font-weight: 800;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0 40px;
  justify-items: center;
}

.course-card {
  width: 100%;
  max-width: 300px;
  background: transparent;

}

.course-img {
  position: relative;
}

.course-img img {
  width: 100%;
  display: block;
}

.course-price {
  display: flex;
  gap: 10px;
  background: #0F1B33;
  padding: 7px 14px;
  border-radius: 20px;
  position: absolute;
  bottom: -15px;
  right: 15px;
  color: white;
  font-weight: 600;
}

.course-price p {
  text-decoration: line-through;
  opacity: 0.6;
  font-size: 0.85rem;
}


.course-info {
  display: grid;
  padding: 20px;
  gap: 5px;
}

.course-info h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0F1B33;
}

.author {
  color: #555;
  font-size: 0.95rem;
}

.stars {
  color: #FFD700;
  margin: 4px 0;
}

.description {
  color: #333;
  font-size: 1rem;
}

.opa{
  opacity: 0.4;
}

#more-courses-btn {
  display: block;
  margin: 40px auto 0 auto;
  padding: 12px 25px;
  background: #152237;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

/*
 RESPONSIVE 
 */
@media (max-width: 1100px) {
  .courses-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .courses-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-title {
    font-size: 2rem;
  }
}




/* 
  MAIN 
*/
.training-wrapper {
  background: #152237;
  padding: 60px 20px 80px 20px;
  padding-bottom: 60px;
}

.training-heading {
  color: white;
  padding: 70px;
  font-size: 2.6rem;
  font-weight: 800;
}

.training-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
  padding: 0 40px;
}

.training-card {
  width: 100%;
  max-width: 300px;
  background: transparent;
}

.training-image {
  position: relative;
}

.training-image img {
  width: 100%;
  display: block;
}

.training-price-tag {
  position: absolute;
  align-items: center;
  bottom: -15px;
  right: 15px;
  background: white;
  color: #0F1B33;
  padding: 7px 14px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  font-weight: 600;
}

.training-price-tag p {
  text-decoration: line-through;
  opacity: 0.7;
  font-size: 0.85rem;
}

.training-details {
  display: grid;
  padding: 20px;
  gap: 5px;
}

.training-details h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
}

.training-teacher {
  color: #ffffffc3;
  font-size: 0.95rem;
}

.training-rating {
  margin: 4px 0;
}

.rating-faded {
  opacity: 0.4;
}

.training-text {
  color: #ffffffc3;
  font-size: 1rem;
}

.training-button {
  display: block;
  margin: 50px auto 0 auto;
  padding: 12px 25px;
  background: white;
  color: #152237;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

/*
 RESPONSIVE
*/
@media (max-width: 1100px) {
  .training-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .training-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .training-heading {
    font-size: 2rem;
  }
  .training-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}




/*
 BOX-CLIENTS
*/
#box-clients {
  background: #fff;
}

.cliens-text {
  display: flex;
  justify-content: center;
  color: #152237;
  font-size: 2rem;
  padding: 70px 20px;
  text-align: center;
}

.box-clien {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

/* .box-client {
  display: grid;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  gap: 10px;
  padding: 20px;
  max-width: 690px;
  width: 100%;
  height: auto;
  border-radius: 12px;
} */
 

.box-client {
  display: grid;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  gap: 10px;
  max-width: 690px;
  width: 100%;
  height: 306px;
  border-radius: 12px;
}

.clients-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.clients-rating {
  margin: 4px 0;
}

.training-text {
  color: #ffffffc3;
  font-size: 1rem;
}

/* 
  RESPONSIVE 
*/
@media (max-width: 900px) {
  .box-clien {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .cliens-text {
    font-size: 1.7rem;
    padding: 40px 10px;
  }
}




/*
 BOX-KLIVIO 
*/
#box-klivios {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  background-color: #f5f5f5;
  padding: 4rem 5%;
}

.box-klivio {
  max-width: 600px;
}

.klivio-titre {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  color: #152237;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.klivio-boxs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.klivio-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.klivio-section img {
  width: 22px;
  height: auto;
}

.klivio-section span {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

/* ===== IMAGE ===== */
.klivio-image {
  display: flex;
  justify-content: center;
}

.klivio-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/*
 RESPONSIVE 
*/

@media (max-width: 900px) {
  #box-klivios {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .box-klivio {
    margin: 0 auto;
  }

  .klivio-section {
    justify-content: center;
    text-align: left;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .klivio-section span {
    font-size: 0.95rem;
  }
}


/* 
FORMATION
*/
#formations-box {
  background: #44DDA8;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 4rem 5%;
}

.formations-image {
  display: flex;
  justify-content: center;
}

.formations-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.formations-titre {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  color: #152237;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.formations-titres {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  color: #152237;
  display: none;
  align-items: flex-start;
}

.formations-box-ul {
  list-style: none;
  display: grid;
  gap: 1.2rem;
  justify-items: start;
}

.formations-box-li {
  align-items: center;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}


@media (max-width: 900px) {
  #formations-box {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
  }

  .formations-titre {
    display: none;
  }
  
  .formations-titres{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .formations-box-li {
    justify-content: center;
    text-align: left;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .formations-box-li span {
    font-size: 0.90rem;
  }
}


#box-propos {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  background-color: #f5f5f5;
}

.box-proposs {
  max-width: 600px;
  padding: 4rem 5%;
}

.propos-proposs{

}

.propos-titre{
  display: grid;
}

.propos-titre {
  font-size: 3vw;
  color: #152237;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.propos-boxs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.propos-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.propos-section span {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.propos-image {
  background: #152237;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propos-img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 1vw;
}


@media (max-width: 900px) {
  #box-propos {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .box-proposs {
    margin: 0 auto;
  }

  .propos-section {
    justify-content: center;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .propos-section span {
    font-size: 0.95rem;
  }
}





 
