*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, Arial, sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}

.site-header {
  position: relative;
  background: #152237;
  color: #FFFFFF;
}

.header-container {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.header-logo img {
  display: block;
}

.header-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header-nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: center;
  background: transparent;
  width: 477px;
  height: 40px;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  border: 1px solid #FFFFFF;
  justify-content: space-between;
}

.placeholder::placeholder {
  font-size: 15px;
  font-weight: 500;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 400px;
  padding: 0.6rem;
  font-size: 1rem;
}

.search-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerBtnCon {
  border-radius: 6px;
  color: #152237;
  background: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

.headerBtnIns {
  border-radius: 6px;
  color: #152237;
  background: linear-gradient(to right, #44DD8A, #15D7E2);
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 500;
}


.burger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.burger span {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px 0;
  background: #FEF7FF;
  transition: 0.3s ease;

}

.burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
  position: absolute;
  top: 80px;
  right: 20px;
  background: #152237;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: 0.3s ease;
}

.mobile-menu.active {
  opacity: 100;
  transform: translateY(0);
  pointer-events: auto;
}


@media (max-width: 1000px) {

  .header-nav {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .header-actions {
    display: none;
  }

  .burger {
    display: block;
  }

}

#courses-section {
  background: white;
  padding-bottom: 60px;
}

.section-img {
  position: relative;
  height: 400px;
  background-image: 
  linear-gradient(to right, #44dd8991, #15d8e289),
  url("./image/bg-header.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/*
SECTION-TEXT
*/
.section-text {
  gap: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.section-text h1 {
  font-size: 48px;
  font-weight: 800;
  color: #152237;
}

.section-text p {
  font-size: 20px;
  font-weight: 500;
  color: #000000;

}

.section-text div {
  padding: 0px 0px 20px;
}

.section-btn button {
  border-radius: 6px;
  color: black;
  background: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-img {
    background-image: 
    linear-gradient(to right, #44dd8991, #15d8e289),
    url("./image/pexels-polina-zimmerman-3747457 1.svg");
  }
}

@media (max-width: 480px) {
  .section-text h1 {
    font-size: 32px;
  }
}

.section-title {
  padding: 50px;
  color: #152237;
  font-size: 36px;
  font-weight: 800;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0 40px;
  justify-items: center;
}

.course-card {
  width: 100%;
  max-width: 307px;
  background: transparent;
}

.course-img {
  position: relative;
}

.course-img img {
  width: 100%;
  display: block;
}

.course-price {
  display: flex;
  gap: 10px;
  background: #0F1B33;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  bottom: -15px;
  right: 15px;
  color: white;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.188);
}

.course-price h4 {
  font-size: 20px;
  font-weight: 700;
}

.course-price p {
  text-decoration: line-through;
  opacity: 0.6;
  font-size: 10px;
  font-weight: 400 ;
}


.course-info {
  display: grid;
  padding: 16px 0px 0px 8px;
  gap: 5px;
}

.course-info h5 {
  font-size: 24px;
  font-weight: 700;
  color: #152237;
}

.stars {
  margin: 4px 0;
}

.description {
  color: #152237;
  font-size: 16px;
  font-weight: 400;
}

.opa{
  opacity: 0.4;
}

#more-courses-btn {
  display: block;
  margin: 40px auto 0 auto;
  padding: 12px 25px;
  background: #152237;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .courses-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .section-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .course-info {
    padding: 15px 1px;
  }
}

@media (max-width: 900px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .courses-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.training-wrapper {
  background: #152237;
  padding: 60px 20px 80px 20px;
  padding-bottom: 60px;
}

.training-heading {
  padding: 50px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
}

.training-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
  padding: 0 40px;
}

.training-card {
  width: 100%;
  max-width: 307px;
  background: transparent;
}

.training-image {
  position: relative;
}

.training-image img {
  width: 100%;
  display: block;
}

.training-price-tag {
  position: absolute;
  align-items: center;
  bottom: -15px;
  right: 15px;
  background: white;
  color: #0F1B33;
  padding: 7px 14px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  font-weight: 600;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.188);
}

.training-price-tag h4 {
  font-size: 20px;
  font-weight: 700;
}

.training-price-tag p {
  text-decoration: line-through;
  opacity: 0.7;
  font-size: 10px;
}

.training-details {
  display: grid;
  padding: 16px 0px 0px 8px;
  gap: 5px;
}

.training-details h5 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.training-rating {
  margin: 4px 0;
}

.rating-faded {
  opacity: 0.4;
}

.training-text {
  color: #ffffffc3;
  font-size: 16px;
  font-weight: 400;
}

.training-button {
  display: block;
  margin: 50px auto 0 auto;
  padding: 12px 25px;
  background: white;
  color: #152237;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .training-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .training-heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .training-heading {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .training-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .training-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

#box-clients {
  background: #fff;
}

.cliens-text {
  display: flex;
  justify-content: center;
  color: #152237;
  font-size: 40px;
  font-weight: 900;
  padding: 70px 20px;
  text-align: center;
}

.box-clien {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  padding: 20px;
  align-items: start;
}

.box-client {
  display: grid;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  gap: 5px;
  max-width: 690px;
  width: 100%;
  border-radius: 12px;
}

.clients-img {
  width: 139px;
  height: 139px;
  object-fit: cover;
  border-radius: 100px;
}

.box-client  h5{
  font-size: 24px;
  font-weight: 700;
}

.clients-rating {
  margin: 4px 0;
}

.clients-text {
  color: #000000CC;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .box-clien {
    grid-template-columns: 1fr;
  }

  .box-client {
    justify-items: center;
  }

  .cliens-text {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .cliens-text {
    padding: 40px 10px;
  }
}

#box-klivios {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  background-color: #f5f5f5;
  padding: 4rem 5%;
}

.box-klivio {
  max-width: 600px;
}

.klivio-titre {
  font-size: 40px;
  font-weight: 900;
  color: #152237;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.klivio-boxs {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.klivio-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.klivio-section img {
  width: 22px;
  height: auto;
}

.klivio-section span {
  font-size: 24px;
  font-weight: 400;
  color: #000000CC;
}

.klivio-image {
  display: flex;
  justify-content: center;
}

.klivio-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1000px) {
  #box-klivios {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .klivio-section {
    justify-content: center;
    text-align: left;
    font-size: 1rem;
  }

  .klivio-titre {
    font-size: 30px;
  }

  .klivio-section span {
    font-size: 20px;
  }
  
}

#formations-box {
  background: #44DD8A;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 4rem 5%;
}

.formations-image {
  display: flex;
  justify-content: center;
}

.formations-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


.formations-titres {
  font-size: 40px;
  font-weight: 900;
  color: #152237;
  display: none;
  align-items: flex-start;
}

.formations-titre h2 {
  font-size: 40px;
  font-weight: 900;
  color: #152237;
  display: flex;
  align-items: flex-start;
}

.formations-box-ul {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: flex-start;
}

.formations-box-li {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
}

.formations-box-li span {
  font-size: 24px;
  font-weight: 400;
  color: #333;
}


@media (max-width: 1000px) {
  #formations-box {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .formations-titre {
    display: none;
  }
  
  .formations-titres{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formations-box-li span {
    font-size: 20px;
  }
}

#box-propos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  justify-items: center;
}

.box-propos-content {
  max-width: 600px;
  padding-left: 40px;
}

.propos-titre {
  font-size: 40px;
  color: #152237;
  margin-bottom: 1.5rem;
  padding: 40px 0px 0px 0px;
}

.propos-texte {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #333;
}


.propos-image {
  background-color: #152237;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 830px;
  aspect-ratio: 830 / 730;
}

.propos-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


@media (max-width: 1000px) {
  #box-propos {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .box-propos-content {
    padding-left: 0;
  }

  .propos-titre {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .propos-texte {
    font-size: 0.95rem;
  }
}


#box-contacter {
  /* display: grid;
  justify-content: center; */
  padding: 30px 10%;
}

.boxs-contacter {
  /* display: grid; */
  /* padding-bottom: 60px; */
}

.contacter-titre {
  display: grid;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  justify-items: center;
}

.box-contacter-liner {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}


.contacter-liner{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 350px;
  border: 2px solid #44DD8A;
}

.box-information {
  align-items: center;
  padding: 40px 0 30px;
}

.box-informations {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.box-informations-input {
  background: #152237;
  color: white;
  width: 600px;
  max-width: 100%; 
  height: 45px;
  border: none;
  padding: 0 15px;
  font-size: 15px;
}

.box-information-message {
  align-items: center;
  padding: 0px 0px 30px;
}

.box-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-message-placeholder {
  background: #152237;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  width: 1250px;
  max-width: 100%;
  height: 149px;
  border: none;
  box-sizing: border-box;
}

::placeholder {
  color: white;
}

.box-information-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-btn {
  background: #44DD8A;
  color: #0F1B33;
  border: none;
  border-radius: 6px;
  width: 265.02px;
  height: 45.30px;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .box-informations {
    flex-direction: column;
    gap: 1.5rem;
  }

  .form-width {
    max-width: 356px;
  }

  .box-contacter-liner {
    display: none;
  }

  .contacter-titre {
    font-size: 30px;
  }
}


#footer {
  background: #152237;
  color: #fff;
}

.footer-bar {
  height: 18px;
  background: linear-gradient(to left, #15D7E2, #44DD8A);
}

.footer-container {
  padding: 30px 5%;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.footer-nav {
  display: flex;
  gap: 8vw;
}

.footer-list {
  list-style: none;
}

.footer-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 1.6;
}

.footer-lists {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 1.9;
  align-items: flex-start;
}

.footer-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: #fff;
  color: #000;
}

.btn-gradient {
  background: linear-gradient(to right, #44DD8A, #15D7E2);
  color: #000;
}

.footer-divider {
  height: 2px;
  margin: 40px 0;
  background: linear-gradient(to left, #15D7E2, #44DD8A);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icons img {
  height: 30px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-title {
    text-align: center;
  }

  .footer-list a {
    justify-content: center;
    text-align: center;
  }

  .footer-nav {
    flex-direction: column;
    gap: 30px;
  }

  .footer-actions,
  .footer-divider,
  .footer-bottom {
    display: none;
  }
}
